* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;


}
 
body {
	background-color:#e5ffff;
	height: 100%;
	width: 100%;
}
 
.menu_bar {
	display:none;
	background-color: #023859;
}
 
header {
	width: 100%;
}
 
header nav {
	background:#4bacb8;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
}
nav{
		height:25.5em;
}
 
header nav ul {
	list-style:none;
}
 
header nav ul li {
	display:inline-block;
	position: relative;
}

 
header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}
 
header nav ul li a span {
	margin-right:10px;
}
 
header nav ul li:hover .children {
	display:block;
}
 
header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}
 
header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
 
header nav ul li .children li a {
	display: block;
}
 
header nav ul li .children li a span {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}
 
header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
 
@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}
 
	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;

		
	}
 
	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}
 
	.menu_bar span {
		float: right;
		font-size: 40px;
	}
 
	header nav {
		width: 80%;
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}
 
	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}
 
	header nav ul li a {
		display: block;
	}
 
	header nav ul li:hover .children {
		display: none;
	}
 
	header nav ul li .children {
		width: 100%;
		position: relative;
	}
 
	header nav ul li .children li a {
		margin-left:20px;
	}
 
	header nav ul li .caret {
		float: right;
	}
}

.my-title{
	text-align: center;
	color: #212121;
	margin: 0.5em;
}

/*Estilos app*/
label, p, input{
	font-size: 1.5em;
}

input{
	width: 10em;
	margin-left: 0.5em;
	margin-bottom: 1em; 
}

.my-button{	
	width: 8em;
}
.enlaces{
	text-align: center;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
.formulario-login {
	margin-top: 2em;
	text-align: center;
}
/*formulario de registro*/
.formulario-registro{
	font-size: 0.63em;
	text-align:center;
}
.checkbox{
	width: 0.8em;
	height: 0.8em;
	margin-right: 0.5em;
	padding: 0;
}
/*Concidiones de uso*/
.terminos{
	font-size: 0.5em;
	margin: 0.8em; 	 
}
/*contacto*/
.formulario-contacto{
	text-align: center;
}